# Prerequisites
*.d
**/**.cert
**/**.key
**/**.cer
**/**.crt
**/**.log
**/.well-known/
ssl/dev.jonnattan.com.crt
ssl/dev.jonnattan.com.key
# Compiled Object files
*.slo
*.lo
*.o
*.obj
logs/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

